<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body style="padding: 40px;">

        <div style="text-align: center; font-size: 24px;">

            😦😕😐

        </div>

    </body>

</html>